/*red ranger
154px 305px
black ranger
5px 158px
*/

html {
  background-image: url("../img/power_rangers_background.jpg");
}

#custom-container {
  margin-top: 30px;
}

#power-rangers-logo {
  width: 40%;
}

#subtitle-wrapper {
  margin-top: -0.6em;
  border-radius: 10px;
  background-color: #2B2B2B;
}

#subtitle {
  margin-top: -0.6em;
  color: white;
}

.custom-block {
  border-radius: 10px;
  background: #2B2B2B;
  color: white;
}

#instructions {
  margin: 0.5em;
}

#display-block {
  margin: 0.5em;
}

#win-lose-block {
  margin: 0.5em;
}

#button-block {
  margin: 0.5em;
}

.custom-button, .custom-button:active {
  margin: 0.5em;
  width: 160px;
  height: 160px;
  background-image: url("../img/power_rangers_full.png");
  border-radius: 20%;

}

/*blue ranger*/
#jewel-one {
  background-position:5px 10px;
}

/*red ranger*/
#jewel-two {
  background-position:154px 305px;
}

/*yellow ranger*/
#jewel-three {
  background-position:154px 10px;
}

/*pink ranger*/
#jewel-four {
  background-position:5px 305px;
}
