/*red ranger
154px 305px
black ranger
5px 158px
*/

html {
  background-image: url("../img/power_rangers_background.jpg");
}

body {
  background: transparent;
}

#custom-container {
  margin-top: 30px;
}

#power-rangers-logo {
  width: 40%;
}

#subtitle-wrapper {
  margin-top: -0.6em;
  border-radius: 10px;
  background-color: #2B2B2B;
}

#subtitle {
  margin-top: -0.6em;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.custom-block {
  border: 2px solid white;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  background: #2B2B2B;
  color: white;
}

.custom-button, .custom-button:active {
  margin: 0.5em;
  width: 160px;
  height: 160px;
  background-image: url("../img/power_rangers_full.png");
  border-radius: 20%;
  border: 2px solid;
}

/*blue ranger*/
#blue-ranger-icon {
  border-color: #0051ff;
  background-position:5px 10px;
}
#blue-ranger-icon:hover {
  background-color:#6696FF;
}

/*red ranger*/
#red-ranger-icon {
  border-color: #ec0e0e;
  background-position:154px 305px;
}
#red-ranger-icon:hover {
  background-color: #EF3E3E;
}

/*yellow ranger*/
#yellow-ranger-icon {
  border-color: #ffdb00;
  background-position:154px 10px;
}
#yellow-ranger-icon:hover {
  background-color: #FFE54C;
}

/*pink ranger*/
#pink-ranger-icon {
  border-color: #ffa9ea;
  background-position:5px 305px;
}
#pink-ranger-icon:hover {
  background-color: #FFCBF2;
}
